.main-nav {
  margin-left: 31%;
  margin-top: 0;
}
ul
{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
}
li
{
  display:inline;
  float:left;
}
a:link,a:visited
{
  display:block;
  width:120px;
  font-weight:bold;
  color:#489FDF;
  background-color:#FFFFFF;
  text-align:center;
  padding:4px;
  text-decoration:none;
  text-transform:uppercase;
  float:right;
}
a:hover,a:active
{
background-color:#489FDF;
}
