.container {
  margin-left: 0;
  margin-right:0;
}

.container .logo {
  margin-top: 0;
  float:left;
  padding:0;
}
/*.container .main-nav .dropdown-menu li {
  display:block;
}*/
.container .main-nav {
  position:fixed;
  margin-left:0;
  margin-top:0;
  float: right;
}
/*.container .main-nav ul
{
  /*list-style-type:none;*/
  margin:0;
  padding:0;
  overflow:hidden;
}*/
/*.container .main-nav li
{
  /*display:inline;*/
  float:left;
}*/
.container .main-nav a:link,a:visited
{
  display:block;
  width:120px;
  font-weight:bold;
  color:#489FDF;
  background-color:#FFFFFF;
  text-align:center;
  padding:4px;
  text-decoration:none;
  text-transform:uppercase;
  float:right;
}
.container .main-nav a:hover,a:active
{
background-color:#489FDF;
}
