<template name="main">
		 <div class="ui menu" id="navigation-bar" style="min-height:50px; font-size:16px;">
	   		<a class="item" href="{{pathFor 'home'}}">
	     		Home
	   		</a>
		 		<a class="item" href="{{pathFor 'about'}}">
	     		About
	   		</a>
		 		<div class="ui simple dropdown item">
	 	 			Rental Posts
	 			<i class="dropdown icon"></i>
	 			  <div class="menu">
		 			<div class="item"><a href="{{pathFor 'displayrent'}}">View all Rental Posts</a></div>
		 			<div class="item"><a href="{{pathFor 'createrent'}}">Create a Rental Post</a></div>
	 			</div>
			</div>
	 		<div class="ui simple dropdown item">
					Product Posts
				<i class="dropdown icon"></i>
				<div class="menu">
					<div class="item"><a href="{{pathFor 'allproducts'}}">View all Products</a></div>
	 			  <div class="item"><a href="{{pathFor 'createinfo'}}">Create a Product Post</a></div>
 		    </div>
			</div>

			<div class="ui simple dropdown item">
 			 Requesting
 			 <i class="dropdown icon"></i>
 			 <div class="menu">
 			 		<div class="item"><a href="{{pathFor 'forum'}}">Create a Requesting Post</a></div>
 			 		<div class="item"><a href="{{pathFor 'postforum'}}">View all Requests</a></div>
 		 	 </div>
 		 </div>


 		<div class="ui simple dropdown item">
				My Cubicle
				<i class="dropdown icon"></i>
				<div class="menu">
					<div class="item"><a href="{{pathFor 'users'}}">My Profile</a></div>
		 			<div class="item"><a href="{{pathFor 'salehistory'}}">Sold History</a></div>
					<div class="item"><a href="{{pathFor 'chatroom'}}">Chat</a></div>
		 			<div class="item"><a href="{{pathFor 'users'}}">View Purchase History</a></div>
				</div>
			 </div>

	   <a class="item" href="{{pathFor 'contact'}}">
	     Contact Us
	   </a>
		 <div class="right menu">
			 {{#if currentUser}}
			 <button class="ui basic button" onclick="Meteor.logout()">Logout</button>
			 {{else}}
		 	<a class="item" href="{{pathFor 'login'}}">
	     Sign In
	   </a>
		 <a class="item" href="{{pathFor 'users'}}">
	     Sign Up
	   </a>
		 {{/if}}
		 <a class="item" href="{{pathFor 'mycart'}}">
			 <i class="shop icon"></i>
			</a>
	 </div>
 </div>
		<div name=body>
			 {{> yield}}
		</div>

</template>
