table {
    border-collapse: collapse;
    width: 60%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.modal-backdrop {
    z-index: 0;
}
tr#productrow.unsolditem{
   color: #333;
}
tr#productrow.solditem{
  color: rgb(172, 173, 175);
}

.productform{
  padding:5em;
  padding-bottom:0;
  padding-top:0;
}
.displayproduct{
  padding:5em;
  text-align: center;
}
.productaccess{
  padding:5em;
}

.voice_search_productpage {
  text-align: center;
  padding:5em;
  padding-bottom: 0;
}
