table {
    border-collapse: collapse;
    width: 60%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.modal-backdrop {
    z-index: 0;
}

div#productrow .unsolditem{
  color: #333;
}
div#productrow .solditem{
  color: rgb(172, 173, 175);
}

.productform{
  padding:5em;
}
.displayproduct{
  padding:5em;
}
.productaccess{
  padding:5em;
}
