#newname{
  display:none;
}
#newage{
  display:none;
}
#newgender{
  display:none;
}
#newemail{
  display:none;
}
#newpayment{
  display:none;
}
#picshow{
  display:none;
}
#newpayment{
  padding-left: calc(50% - 57.5px);
}
#newgender{
  padding-left: calc(50% - 57.5px);
}
.showuser h1{
  padding-left: calc(50% - 431px);
}

.profileprint{
  padding:5em;
}
.deletebutton{
  padding-right: 40em;
  text-align: right;
}
.profile-page{
  text-align: center;
  padding:5em;
  padding-left: 30em;
  padding-right: 30em;
  padding-bottom: 0em;
}
#signup-form{
  text-align: center;
}
