/*.rentpost {
  width: 50px;
  height: 50px;
  border: solid black 2px;
}*/

#rentalloadpic{
  display:block;
}
#showrentalpic1{
  display:none;
  width: 300px;
  height: 300px;
}
#showrentalpic2{
  display:none;
  width: 300px;
  height: 300px;
}
#showrentalpic3{
  display:none;
  width: 300px;
  height: 300px;
}
#newOwner{
  display:none;
}
#newLocation{
  display:none;
}
#newStreet{
  display:none;
}
#oldrentalpic{
  display:block;
}
.rentform{
  padding:5em;
}
.showrent{
  padding:5em;
}
.rentpost{
  padding:5em;
}
.rentpost_search{
  padding:5em;
}

#singlerent{
  background-image:url("images/post-background.jpg");
  background-size:cover;
  filter: alpha(opacity=70);
  max-width: 100%;
  background-position: center;
  width: 400px;
  height: 300px;
  text-align: center;
  margin-bottom: 2.5em;
  padding-top: 50px;
  margin: 10px;
  float:left;
  position:relative;
}
